<div class="registration">
  <h2>Cadastro de Usuário</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username" formControlName="username" class="form-control">
      <div *ngIf="registrationForm.get('username')?.hasError('required') && registrationForm.get('username')?.touched"
        class="error-message">
        O nome de usuário é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control">
      <div *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched"
        class="error-message">
        O email é obrigatório.
      </div>
      <div *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched"
        class="error-message">
        Insira um email válido.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" class="form-control">
      <div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched"
        class="error-message">
        A senha é obrigatória.
      </div>
      <div *ngIf="registrationForm.get('password')?.hasError('pattern') && registrationForm.get('password')?.touched"
        class="error-message">
        A senha deve conter pelo menos uma letra maiúscula, uma minúscula, um número e um caractere especial, e ter pelo
        menos 8 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmação de Senha:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
      <div
        *ngIf="registrationForm.get('confirmPassword')?.hasError('required') && registrationForm.get('confirmPassword')?.touched"
        class="error-message">
        A confirmação de senha é obrigatória.
      </div>
      <div *ngIf="registrationForm?.hasError('passwordMismatch') && registrationForm.get('confirmPassword')?.touched"
        class="error-message">
        As senhas não coincidem.
      </div>
    </div>

    <div class="form-group">
      <label for="userId">ID Único:</label>
      <input type="text" id="userId" formControlName="userId" class="form-control">
      <div *ngIf="registrationForm.get('userId')?.hasError('required') && registrationForm.get('userId')?.touched"
        class="error-message">
        O ID é obrigatório.
      </div>
      <div
        *ngIf="(registrationForm.get('userId')?.hasError('minlength') || registrationForm.get('userId')?.hasError('maxlength')) && registrationForm.get('userId')?.touched"
        class="error-message">
        O ID deve ter entre 3 e 16 caracteres.
      </div>
    </div>

    <!-- Exibir mensagem de erro de registro -->
    <div *ngIf="registrationError" class="error-message">
      {{ registrationError }}
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>